@use "../variables" as vars;

.iconButton {
  all: unset;
  background-color: vars.$bg;
  color: vars.$fg;
  padding: 4px 4px 4px 2px;
  border: none;
  min-height: 25px;
  min-width: 30px;
  border-radius: vars.$borderRadius;
}

.iconButton:hover {
  background-color: vars.$bgHover;
}

.activeIconButton {
  all: unset;
  background-color: vars.$primary;
  color: vars.$fg;
  padding: 4px 4px 4px 2px;
  border: none;
  min-height: 25px;
  min-width: 30px;
  border-radius: vars.$borderRadius;
}

.activeIconButton:hover {
  background-color: vars.$bgHover;
}

.warningIconButton {
  all: unset;
  background-color: vars.$bg;
  color: vars.$warning;
  padding: 4px 4px 4px 2px;
  border: none;
  min-height: 25px;
  min-width: 30px;
  border-radius: vars.$borderRadius;
}

.warningIconButton:hover {
  background-color: vars.$bgHover;
}

.largeIconButton {
  all: unset;
  background-color: transparent;
  font-size: 25px;
  border-radius: vars.$largeButtonBorderRadius;
  color: vars.$fg;
  border: 0;
}

.largeIconButton:hover {
  background-color: vars.$bgHover;
}

.largeIconButtonSelected {
  all: unset;
  background-color: vars.$primary;
  font-size: 25px;
  border-radius: vars.$largeButtonBorderRadius;
  color: vars.$fg;
  border: 0;
}

.primaryButton {
  all: unset;
  background-color: vars.$buttonPrimary;
  color: vars.$fg;
  border-radius: vars.$borderRadius;
  padding: 4px 8px 4px 8px;
}

.primaryButton:hover {
  background-color: vars.$bgHover;
}

.screenshareButton {
  padding: 12px;
}

.transparentButton {
  all: unset;
  background-color: transparent;
  color: vars.$fg;
  border-radius: vars.$borderRadius;
  padding: 4px 8px 4px 8px;
}

.transparentButton:hover {
  background-color: vars.$bgHover;
}

.sideBarMenuButton {
  padding-top: 6px;
}

.sideBarClockButton {
  padding-bottom: 6px;
}

.closeButton {
  all: unset;
  background-color: vars.$bg;
  color: vars.$fg;
  padding: 4px 4px 4px 4px;
  border: none;
  min-height: 25px;
  min-width: 30px;
  border-radius: vars.$borderRadius;
}

.closeButton:hover {
  background-color: vars.$bgHover;
}
