@use "../variables" as vars;

.labelSmall {
  color: vars.$fg;
  font-size: 14px;
}

.labelMedium {
  color: vars.$fg;
  font-size: 16px;
}

.labelLarge {
  color: vars.$fg;
  font-size: 18px;
}

.labelSmallWarning {
  color: vars.$warning;
  font-size: 14px;
}

.labelMediumWarning {
  color: vars.$warning;
  font-size: 16px;
}

.labelLargeWarning {
  color: vars.$warning;
  font-size: 18px;
}

.labelSmallBold {
  color: vars.$fg;
  font-size: 14px;
  font-weight: bold;
}

.labelMediumBold {
  color: vars.$fg;
  font-size: 16px;
  font-weight: bold;
}

.labelLargeBold {
  color: vars.$fg;
  font-size: 18px;
  font-weight: bold;
}

.transparentLabel {
  color: transparent;
}

.screenShotLabel {
  color: vars.$fg;
  font-weight: bold;
  font-size: 34px;
  padding-right: 6px;
}

.iconLabel {
  all: unset;
  background-color: vars.$bg;
  color: vars.$fg;
  padding: 4px 4px 4px 2px;
  border: none;
  min-height: 25px;
  min-width: 30px;
  border-radius: 8px;
}

.warningIconLabel {
  all: unset;
  background-color: vars.$bg;
  color: vars.$warning;
  padding: 4px 4px 4px 2px;
  border: none;
  min-height: 25px;
  min-width: 30px;
  border-radius: 8px;
}

.largeIconLabel {
  all: unset;
  background-color: transparent;
  font-size: 25px;
  border-radius: vars.$largeButtonBorderRadius;
  color: vars.$fg;
  border: 0;
}