@use "../variables" as vars;

window.NotificationPopups {
  all: unset;
}

.notification {
  min-width: 340px;
  border-radius: vars.$windowBorderRadius;
  background-color: vars.$bg;
  margin: vars.$gaps;
  border: 2px solid vars.$primary;
}

.notificationCritical {
  min-width: 340px;
  border-radius: vars.$windowBorderRadius;
  background-color: vars.$bg;
  margin: vars.$gaps;
  border: 2px solid vars.$warning;
}

.notificationHistorical {
  min-width: 0;
  border-radius: vars.$windowBorderRadius;
  background-color: vars.$bg;
  margin: 5px 0 5px 0;
  border: 2px solid vars.$bgHover;
}
