@use "../variables" as vars;

.systemMenuVolumeProgress {
  all: unset;
  min-width: 200px;
  margin-right: 20px;
}

.systemMenuVolumeProgress trough {
  all: unset;
  background: vars.$sliderTrough;
  min-height: 8px;
  border-radius: 16px;
}
.systemMenuVolumeProgress trough slider {
  all: unset;
}

.systemMenuVolumeProgress trough highlight {
  all: unset;
  min-width: 8px;
  border-radius: 16px;
  background: vars.$fg;
}
