@use "../variables" as vars;

.barWindow {
    background-color: vars.$bg;
    border-radius: 0px;
    border-color: vars.$barBorder;
    border-width: vars.$windowBorderWidth 0px;
    border-style: solid;
}

.window {
    background-color: vars.$bg;
    border-radius: vars.$windowBorderRadius;
    border-color: vars.$windowBorder;
    border-width: vars.$windowBorderWidth;
    border-style: solid;
}

.alertWindow {
    background-color: vars.$bg;
    border-radius: vars.$windowBorderRadius;
    border-color: vars.$alertBorder;
    border-width: vars.$windowBorderWidth;
    border-style: solid;
}

.topBar {
    border-width: 0px 0px vars.$windowBorderWidth 0px;
    padding: 1px;
}

