@use "../variables" as vars;

.barWindow {
    background-color: vars.$bg;
    border-radius: vars.$windowBorderRadius;
    border-color: vars.$barBorder;
    border-width: vars.$windowBorderWidth;
    border-style: solid;
}

.window {
    background-color: vars.$bg;
    border-radius: vars.$windowBorderRadius;
    border-color: vars.$windowBorder;
    border-width: vars.$windowBorderWidth;
    border-style: solid;
}

.alertWindow {
    background-color: vars.$bg;
    border-radius: vars.$windowBorderRadius;
    border-color: vars.$alertBorder;
    border-width: vars.$windowBorderWidth;
    border-style: solid;
}

.sideBar {
    padding: 2px;
    min-width: 40px;
}

.topBar {
    padding: 2px;
    min-height: 40px;
}