@use "../variables" as vars;

.window {
    background-color: vars.$bg;
    border-radius: vars.$windowBorderRadius;
    border-color: vars.$primary;
    border-width: vars.$windowBorderWidth;
    border-style: solid;
}

.focusedWindow {
    background-color: vars.$bg;
    border-radius: vars.$windowBorderRadius;
    border-color: vars.$fg;
    border-width: vars.$windowBorderWidth;
    border-style: solid;
}

.sideBar {
    min-height: vars.$verticalBarMinHeight;
    padding: 2px;
    min-width: 40px;
}

.topBar {
    min-width: vars.$horizontalBarMinWidth;
    padding: 2px;
    min-height: 40px;
}