$font: "JetBrainsMono Nerd Font Medium";
$bg: #000000;
$fg: #FFFFFF;
$primary: #009911;
$buttonPrimary: #224466;
$sliderTrough: #222222;
$bgHover: #222222;
$warning: #DD3322;
$barBorder: #009911;
$windowBorder: #009911;
$alertBorder: #009911;
$gaps: 5px;
$buttonBorderRadius: 8px;
$windowBorderRadius: 8px;
$windowBorderWidth: 2px;
$largeButtonBorderRadius: 16px;
$scrimColor: #00000001;